input:focus {
    border-color: #4F45E4;
}
input:focus-visible {
    outline: none;
}
#chatSection {
    height: 100vh;
}
#messageArea {
    height: 100%;
    overflow: scroll;
}
.fi-sr-angle-square-down {
    height: 20px;
}